.card-container-custom {
    margin-left: 45px;

}

.all-cards {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    top: 155%;
    left: 0;
    right: 0;
    transform: translateX(-50%) translateY(-50);

}

.card-img-top{
    height: 160px;
}

.card{
    height: 370px;
    display: flex;
}

.card-title{
    font-weight: bold;
    color: black;
}
