.body {
    margin: 0;
    background-color: whitesmoke;
        }


.custom-title {
    font-size: 50px;
    color: black;
    margin-top: 50px;
    text-align: center;
}

.main-div {
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    }

.navbar {
   background-color: indianred;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    }

.navbar-element {
    margin-left: 20px;
    margin-right: 10px;
        }

.description {
    font-weight: bold;
    color: gray;
    text-align: center;
}

.contents {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 20px;
    border-radius: 15px;

}

.row-image-desc {
    display: flex;
    flex-direction: row;
}

.picture {
    height: 150px;
    border-radius: 10px;
}

.long-desc {
    margin-left: 10px;
}

.descriptive-text {
    font-family: Helvetica, serif;

}

.card-container-custom {
    margin-left: 24px;

}

.all-cards {
    display: flex;
    justify-content: space-evenly;

}
