#info{
    background: #333;
    color: #fff;
    text-align: center;
    align-items: center;
    position: absolute;
    top: 240%;

}
#info .contenedor2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;

    top: 155%;
    left: 7%;
    transform: translateX(-50%) translateY(-50);
}

h7 {
    font-size: 35px;
    position: center;
    top: -10%;
}

margen{
    width: 100px;
}


.info-cli{
    margin: 20px;

}

.info-cli img{
  border-radius: 50%;
    border: 7px solid #ffffff;

}

